@import "StyleVariables.module";

* {
  font-size: $sizeText;
  color: $colorDarkText;
}

.formInput {
  outline: none !important;
  border: 2px solid $colorSecondary;
  border-radius: $borderRadiusForm;
  padding: 10px;
  box-shadow: 1px 1px 3px $colorShadow;
  // margin: 10px;
}

.formInput:focus {
  border-bottom:2px solid $colorPrimary;
}

.formInput::placeholder {
  color: $colorSecondary;
}

input, textarea {
  @extend .formInput;
}

label {
  font-weight: bold;
  // margin: 10px;
}

h2, h3, h4, h5, h6 {
  color: $colorPrimary;
}

h1 {
  font-size: $sizeH1;
  color: $colorDarkText;
}

h2 {
  font-size: $sizeH2;
}

h3 {
  font-size: $sizeH3;
}

h4, h5, h6 {
  font-size: $sizeH4;
}

a {
  color: $colorPrimary;
  text-decoration: none;
  // These 2 below properties are used so that text is vertically center aligned with icon
  display: flex;
  align-items: center;
}

a:hover, a:focus, a::selection {
  color: $colorPrimaryLighter;
  text-decoration: underline;
}

.button {
  @extend .formInput;
  background-color: $colorPrimary;
  color: $colorLightText;
  border: $colorPrimaryDarker;
  padding: 10px;
  text-shadow: 1px, 1px, 2px $colorShadow;
}

.button:hover {
  background-color: $colorPrimaryLighter;
}

.button:active {
  background-color: $colorPrimaryDarker;
  box-shadow: none;
}

.button:disabled {
  background-color: $gray5;
}

input[type=button], input[type=reset], input[type=submit], button {
  @extend .button;
}