@import "../styles/StyleVariables.module";

.eventProgramsLoginContainer {
  display: flex;
//   background-color: green;
}

.eventProgramsContainer {
//  background-color: yellow;
  flex-grow: 1;
}

.loginContainer {
//  background-color: coral;
  width: 400px;
}

.loginBox {
//   background-color: brown;
  margin: 20px;
  padding: 20px;
  border: 1px solid $gray1;
  border-radius: 3px;
}