@page {
  margin: 0;
}

.page {
  // border: 1px solid brown;
  background-color: coral;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  // justify-content: space-evenly;
  box-sizing: border-box;

}

.card {
  border: 1px solid blue;
  background-color: cyan;
  // margin-right: auto;
  box-sizing: border-box;
  padding: 10px;
}

.cardBorderOuter {
  border: 2px solid black;
  width: 100%;
  border-radius: 5px;
  height: 100%;
  box-sizing: border-box;
  padding: 2px;
  align-content: center;
  justify-content: center;
  // align-self: center;
  text-align: center;
}

.settingsMenu {
  width: 50%;
  background-color: white;
  position: fixed;
  right: 0;
  top: 0;
  margin: 50px;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 5px;
  overflow: auto;
  max-height: 80%;
}
