@page {
  margin: 0;
}

.printPage {
  // border: 1px solid brown;
  background-color: yellow;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  // justify-content: space-evenly;
  box-sizing: border-box;

}

.printCard {
  border: 1px solid blue;
  background-color: hotpink;
  // margin-right: auto;
  box-sizing: border-box;
}
