[Unit]
Description=Event Register
After=syslog.target network.target docker.service

[Service]
User=sheraz
Type=simple
WorkingDirectory=/opt/sheraz-infra/event-register/app/
ExecStart=/opt/sheraz-infra/event-register/app/event_register.sh
Restart=always

[Install]
WantedBy=multi-user.target
