@import "../styles/StyleVariables.module";

.defaultValueContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.previewBox {
  width: 55px;
  height: 55px;
  border-radius: $borderRadiusForm;
  border: 1px solid $gray5;
  margin: 10px;
}