$colorPrimary: var(--colorPrimary);
$colorPrimaryLighter: hsl(from var(--colorPrimary) h s calc(l + 10));
$colorPrimaryDarker: hsl(from var(--colorPrimary) h s calc(l - 10));
$colorSecondary: var(--colorSecondary);
$colorSecondaryLighter: hsl(from var(--colorSecondary) h s calc(l + 10));
$colorSecondaryDarker: hsl(from var(--colorSecondary) h s calc(l - 10));
$colorTertiary: var(--colorTertiary);
$colorTertiaryLighter: hsl(from var(--colorTertiary) h s calc(l + 10));;
$colorTertiaryDarker: hsl(from var(--colorTertiary) h s calc(l - 10));;
$colorTertiary: var(--colorTertiary);
$colorTertiary: var(--colorTertiary);
$colorDarkText: var(--colorDarkText);
$colorLightText: var(--colorLightText);
$colorDarkHeading: var(--colorDarkHeading);
$colorLightHeading: var(--colorLightHeading);
$colorShadow: var(--colorShadow);
$sizeText: var(--sizeText);
$sizeH1: var(--sizeH1);
$sizeH2: var(--sizeH2);
$sizeH3: var(--sizeH3);
$sizeH4: var(--sizeH4);
$borderRadiusForm: var(--borderRadiusForm);

$white0: #fff;
$white1: #fafafa;
$white2: #f5f5f5;
$white3: #f0f0f0;
$white4: #eee;
$white5: #e5e5e5;

$gray1: #e0e0e0;
$gray2: #ddd;
$gray3: #d5d5d5;
$gray4: #d0d0d0;
$gray5: #ccc;

$black5: #333;
$black4: #252525;
$black3: #222;
$black2: #151515;
$black1: #111;
$black0: #000;
