$colorPrimary: var(--colorPrimary);
$colorPrimaryLighter: hsl(from var(--colorPrimary) h s calc(l + 10));
$colorPrimaryDarker: hsl(from var(--colorPrimary) h s calc(l - 10));
$colorSecondary: var(--colorSecondary);
$colorSecondaryLighter: hsl(from var(--colorSecondary) h s calc(l + 10));
$colorSecondaryDarker: hsl(from var(--colorSecondary) h s calc(l - 10));
$colorTertiary: var(--colorTertiary);
$colorTertiaryLighter: hsl(from var(--colorTertiary) h s calc(l + 10));;
$colorTertiaryDarker: hsl(from var(--colorTertiary) h s calc(l - 10));;
$colorTertiary: var(--colorTertiary);
$colorTertiary: var(--colorTertiary);
$colorDarkText: var(--colorDarkText);
$colorLightText: var(--colorLightText);
$colorDarkHeading: var(--colorDarkHeading);
$colorLightHeading: var(--colorLightHeading);
$colorShadow: var(--colorShadow);
$sizeText: var(--sizeText);
$sizeH1: var(--sizeH1);
$sizeH2: var(--sizeH2);
$sizeH3: var(--sizeH3);
$sizeH4: var(--sizeH4);